<!-- Jason McAuslan -->
<!-- 301279046 -->
<!-- June 4th, 2023 -->
<!-- page_banner.ejs -->

<!-- Page Banner -->
<main>
    <div class="container">
      <header class="pb-4 mb-5 border-bottom">
        <span class="display-4">Welcome to the <%= title %> page</span>
      </header>
    </div>
  </main>